.footer {
    padding: 38px 0 38px 0;
    background: #11114A;
}

.footer__wrapper {
    
}

.footer__list {
    display: flex;
    justify-content: space-between
}

.footer__item {
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}