.tags {
  @include reset;
  display: flex;
  align-items: center;
}

.tags__item {
  margin-right: 10px;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 13px;
}

.tags__item a {
  display: block;
  padding: 4px 11px 4px 11px;

  font-size: 12px;
  line-height: 16px;
  color: #888EC0;

}
